:^) 1-title :::
<h4 class="card-title">High School</h4>
:^) 1-body-text :::
<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
:^) 1-footer :::
<button class="btn fill-area wine-red square-corners" onclick="">More Info</button>
:^) 2-title :::
<h4 class="card-title">Kindergarten</h4>
:^) 2-body-text :::
<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
:^) 2-footer :::
<button class="btn fill-area wine-red square-corners" onclick="">More Info</button>
:^) 3-title :::
<h4 class="card-title">Primary School</h4>
:^) 3-body-text :::
<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
:^) 3-footer :::
<button class="btn fill-area wine-red square-corners" onclick="">More Info</button>