:^) 1-title :::
High School
:^) 1-body-text :::
Private bilingual High School GALILEO SCHOOL,  five years long study in English language
:^) 1-footer :::
More Info
:^) 1-link :::
{{high_school.link}}
:^) 2-title :::
Primary School
:^) 2-body-text :::
Private Elementary School and Middle School GALILEO SCHOOL with English as the language of instruction
:^) 2-footer :::
More Info
:^) 2-link :::
{{primary_school.link}}
:^) 3-title :::
Kindergarten
:^) 3-body-text :::
Private Kindergarten GALILEO SCHOOL, bilingual Slovak -English pre-school
:^) 3-footer :::
More Info
:^) 3-link :::
{{kindergarten.link}}