:^) title :::
<div id="interviews-heading" class="admissions">High School</div>
:^) link :::
{fill_parents_html}en/school/highSchool/index.html
:^) admissions :::
<div class="heading" id="heading">
    <div class="logo"><img id="logo" src="{fill_parents}images/logo.jpg"></div>
</div>
<h6 class="title">Admissions to the Private High School GALILEO SCHOOL, Dudvážska 6, 821 07 Bratislava 214 </h6>
<h5 class="box">To apply please submit the Application electronically via Edupage system or in person to school by 20th February 2025.</h6>
<ol>
    <li><p>Entry Exams - evaluation of a talent to study at a bilingual high school will take place pursuant to the valid school legislation (the School Act no. 245/2008 Z. z.) to consider the knowledge and skills and an ability to study in English language.</p></li>
    <li><p>The School Principal, upon an agreement with the Teachers Council and the School Founder, has decided to open two first grade classes in the next academic year, in the field 7902 J 74 – bilingual education. Pursuant to the Act no. 61/2015 Z.z. The Bratislava County Council announces the maximum number of admissions by 30th November.</p></li>
    <li><p>Dates of the Entry Exams: 1st option - 24th March 2025, 2nd option - 31st March 2025</p></li>
    <li><p>The content of The evaluation of the talent, abilities, knowledge and skills:</p>
        <p class="no-margin">The test to confirm the abilities to study in the English Language based on the CAT test administered by the GL Assessment in the UK. Cognitive Abilities Test (CAT) evaluates the following:</p>
        <ul>
            <li>verbal</li>
            <li>quantitative</li>
            <li>non verbal and spatial</li>
        </ul>
    </li>
    <li><p>Admission requirement: The applicant must gain at least 75 points SAS from the Verbal part of the cognitive Abilities Test. The applicant must not have been classified with the worsen grade from behaviour in Middle School.</p></li>
    <li><p>The School Principal will announce the coded rank of applicants both successful and unsuccessful on the 8th April 2025. The absence to the Entry Exams may only be excused to the School Principal due to ill health reasons supported by the relevant medical paperwork.</p></li>
</ol>
<h6 class="sub-title">Admission criteria for Entry in school year 2025/26</h6>
<ol>
    <li>
        <h6>TAKING INTO ACCOUNT OF STUDY RESULTS</h6>
        <p>Preferential points will be awarded for the attainment at primary school according to the marks from the year-end classification from the 8th grade and from the semi-annual classification from the 9th grade (or in the case of pupils who are in the 8th grade, from the year-end classification from the 7th grade and from half-yearly classification from the 8th year) except for grade 5 - insufficient as follows:</p>
        <div class="box">
            <p class="no-margin">Two compulsory subjects:</p>
            <ul>
                <li>Slovak language and literature</li>
                <li>Mathematics</li>
            </ul>
            <p>In the grand total, points will be awarded for each mark separately according to the following relationship:</p>
            <p>Number of points = 5.(4−x).(4−x) , where x is a subject grade</p>
        </div>
        <div class="box">
            <p>Profile subject - English language:</p>
            <p>In the grand total, points will be awarded for each mark separately according to the following relationship:</p>
            <p>Number of points = 3.(4−x).(4−x), where x is a subject grade</p>
        </div>
        <div class="box">
            <p>Attainment:</p>
            <p>If the pupil achieved in the 8th, 7th and 6th grade (respectively in the 7th, 6th and 5th grade for a pupil attending the 8th grade) level 1 - excellent from all subjects, 5 points for each school year.</p>
        </div>
    </li>
    <li>
        <h6>OTHER CRITERIA</h6>
        <p>Points will be awarded to the grand total for each criterion separately from the interval ⟨0; 100⟩</p>
        <h6>Subject Olympiad</h6>
        <p>The subject Olympiad is included in the overall evaluation if the student placed 1st to 5th place in the district or regional round in the 8th year or 9th year in the Olympics from SJL, foreign language (ANJ, NEJ, RUJ, SJA, FRJ ), DEJ, MAT, FYZ, CHE, BIO, GEG or the Technical Olympiad and Pythagoras.</p>
        <h6>GALILEO SCHOOL criteria</h6>
        <p>Percentage result in Verbal of the Cognitive Abilities Tests, maximum 100 points.</p>
        <p>Percentage achieved in the online Cognitive Abilities Tests will count as the number of percentage points towards the grand total.</p>
    </li>
    <li>
        <h6>In the event of a tie, the following criteria will be applied progressively:</h6>
        <ol class="abc">
            <li>According to § 67 par. 3 of Act no. 245/2008 Coll. on upbringing and education (School Act) and on the amendment and supplementation of certain acts as amended, preference will be given to an applicant who, according to the decision of the social security assessment commission, has an altered working capacity,</li>
            <li>Obtained a larger number of points for point no. 3 Other criteria</li>
            <li>Reached a larger number of points for the profile subject of the school.</li>
        </ol>
    </li>
</ol>
<p class="box">Input data: a completed application for education at a secondary school, or a student's certificate, diplomas or result sheets proving the student's ranking, or his performance.</p> 
<h6 class="bold">The validity of this document is as of 31st January 2022.</h6>
<h6>For additional info please email <a href="mailto:info@galileoschool.sk">info@galileoschool.sk</a></h6>
<h6 class="sub-title">Admission criteria for Entry in school year 2026/27</h6>
<ol>
    <li>
        <h6>TAKING INTO ACCOUNT OF STUDY RESULTS</h6>
        <p>Preferential points will be awarded for the attainment at primary school according to the marks from the year-end classification from the 8th grade and from the semi-annual classification from the 9th grade (or in the case of pupils who are in the 8th grade, from the year-end classification from the 7th grade and from half-yearly classification from the 8th year) except for grade 5 - insufficient as follows:</p>
        <div class="box">
            <p class="no-margin">Two compulsory subjects:</p>
            <ul>
                <li>Slovak language and literature</li>
                <li>Mathematics</li>
            </ul>
            <p>In the grand total, points will be awarded for each mark separately according to the following relationship:</p>
            <p>Number of points = 5.(4−x).(4−x) , where x is a subject grade</p>
        </div>
        <div class="box">
            <p>Profile subject - English language:</p>
            <p>In the grand total, points will be awarded for each mark separately according to the following relationship:</p>
            <p>Number of points = 3.(4−x).(4−x), where x is a subject grade</p>
        </div>
        <div class="box">
            <p>Attainment:</p>
            <p>If the pupil achieved in the 8th, 7th and 6th grade (respectively in the 7th, 6th and 5th grade for a pupil attending the 8th grade) level 1 - excellent from all subjects, 5 points for each school year.</p>
        </div>
    </li>
    <li>
        <h6>OTHER CRITERIA</h6>
        <p>Points will be awarded to the grand total for each criterion separately</p>
        <h6>Entry Exams - CAT test</h6>
        <p>Percentage result in the verbal part of the Cognitive Abilities Tests, maximum 100 points. Percentage achieved in the online Cognitive Abilities Tests will count as the number of percentage points towards the total score.</p>
        <h6>Entry Exams - Essay</h6>
        <p>The overall evaluation of the writing part of the iLowerSecondary English test in English language will count as number of points, maximum 100 points towards the total score.</p>
        <h6>Subject Olympiad</h6>
        <p>The subject Olympiad is included in the overall evaluation if the student placed 1st to 5th place in the district or regional round in the 8th year or 9th year in the Olympics from SJL, foreign language (ANJ, NEJ, RUJ, SJA, FRJ ), DEJ, MAT, FYZ, CHE, BIO, GEG or the Technical Olympiad and Pythagoras, maximum 100 points</p>
        <h6>UKMT Mathematics Challenge</h6>
        <p>The achievement in the UKMT Junior Challenge or the UKMT Intermediate Challenge will count as number of points, maximum 100 points towards the total score.</p>
    </li>
    <li>
        <h6>In the event of a tie, the following criteria will be applied progressively:</h6>
        <ol class="abc">
            <li>According to § 67 par. 3 of Act no. 245/2008 Coll. on upbringing and education (School Act) and on the amendment and supplementation of certain acts as amended, preference will be given to an applicant who, according to the decision of the social security assessment commission, has an altered working capacity,</li>
            <li>Obtained a larger number of points for point no. 3 Other criteria</li>
            <li>Reached a larger number of points for the profile subject of the school.</li>
        </ol>
    </li>
</ol>
<p class="box">Input data: a completed application for education at a secondary school, or a student's certificate, diplomas or result sheets proving the student's ranking, or his performance.</p> 
<h6 class="bold">The validity of this document is as of 15th November 2024.</h6>
<h6>For additional info please email <a href="mailto:info@galileoschool.sk">info@galileoschool.sk</a></h6>