
	<div class="card-deck interview">
		<div id="Tomas_Halgas" class="card interview">
			<img class="card-img-top" src="{fill_parents}images/interviews/Tomi_rgb.jpg" alt="Photo">
			<h4 class="card-title">University of Oxford</h4>
			<div class="card-body">
				<h5 class="card-subtitle">Tomas Halgas</h5>
				<div class="card-text">
					<p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					<p class="card-text card-long-desc no-display">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<h2 class="no-display">Gallery</h2>
				<ul class="card-images no-display">
					<li class="card-photo">
						<img src="{fill_parents}images/interviews/dasa_rgb.jpg" alt="dasa_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/header.jpg" alt="header">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/jakub_rybansky_rgb.jpg" alt="jakub_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Luki_rgb.jpg" alt="Luki_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/orth_rgb.jpg" alt="orth_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/samo_rybansky_rgb.jpg" alt="samo_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Tomi_rgb.jpg" alt="Tomi_rgb">
					</li>
				</ul>
			</div>
		</div>
		<div id="Dasa" class="card interview">
			<img class="card-img-top" src="{fill_parents}images/interviews/dasa_rgb.jpg" alt="Photo">
			<h4 class="card-title">University of Oxford</h4>
			<div class="card-body">
				<h5 class="card-subtitle">Dasa</h5>
				<div class="card-text">
					<p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					<p class="card-text card-long-desc no-display">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<h2 class="no-display">Gallery</h2>
				<ul class="card-images no-display">
					<li class="card-photo">
						<img src="{fill_parents}images/interviews/dasa_rgb.jpg" alt="dasa_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/header.jpg" alt="header">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/jakub_rybansky_rgb.jpg" alt="jakub_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Luki_rgb.jpg" alt="Luki_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/orth_rgb.jpg" alt="orth_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/samo_rybansky_rgb.jpg" alt="samo_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Tomi_rgb.jpg" alt="Tomi_rgb">
					</li>
				</ul>
			</div>
		</div>
		<div id="Jakub_Ribansky" class="card interview">
			<img class="card-img-top" src="{fill_parents}images/interviews/jakub_rybansky_rgb.jpg" alt="Photo">
			<h4 class="card-title">University of Oxford</h4>
			<div class="card-body">
				<h5 class="card-subtitle">Jakub Ribansky</h5>
				<div class="card-text">
					<p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					<p class="card-text card-long-desc no-display">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<h2 class="no-display">Gallery</h2>
				<ul class="card-images no-display">
					<li class="card-photo">
						<img src="{fill_parents}images/interviews/dasa_rgb.jpg" alt="dasa_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/header.jpg" alt="header">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/jakub_rybansky_rgb.jpg" alt="jakub_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Luki_rgb.jpg" alt="Luki_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/orth_rgb.jpg" alt="orth_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/samo_rybansky_rgb.jpg" alt="samo_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Tomi_rgb.jpg" alt="Tomi_rgb">
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="card-deck interview">
		<div id="Lukas_Halgas" class="card interview">
			<img class="card-img-top" src="{fill_parents}images/interviews/Luki_rgb.jpg" alt="Photo">
			<h4 class="card-title">University of Oxford</h4>
			<div class="card-body">
				<h5 class="card-subtitle">Lukas Halgas</h5>
				<div class="card-text">
					<p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					<p class="card-text card-long-desc no-display">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<h2 class="no-display">Gallery</h2>
				<ul class="card-images no-display">
					<li class="card-photo">
						<img src="{fill_parents}images/interviews/dasa_rgb.jpg" alt="dasa_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/header.jpg" alt="header">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/jakub_rybansky_rgb.jpg" alt="jakub_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Luki_rgb.jpg" alt="Luki_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/orth_rgb.jpg" alt="orth_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/samo_rybansky_rgb.jpg" alt="samo_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Tomi_rgb.jpg" alt="Tomi_rgb">
					</li>
				</ul>
			</div>
		</div>
		<div id="Filip_Orth" class="card interview">
			<img class="card-img-top" src="{fill_parents}images/interviews/orth_rgb.jpg" alt="Photo">
			<h4 class="card-title">Santa Clara University</h4>
			<div class="card-body">
				<h5 class="card-subtitle">Filip Orth</h5>
				<div class="card-text">
					<p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					<p class="card-text card-long-desc no-display">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<h2 class="no-display">Gallery</h2>
				<ul class="card-images no-display">
					<li class="card-photo">
						<img src="{fill_parents}images/interviews/dasa_rgb.jpg" alt="dasa_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/header.jpg" alt="header">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/jakub_rybansky_rgb.jpg" alt="jakub_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Luki_rgb.jpg" alt="Luki_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/orth_rgb.jpg" alt="orth_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/samo_rybansky_rgb.jpg" alt="samo_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Tomi_rgb.jpg" alt="Tomi_rgb">
					</li>
				</ul>
			</div>
		</div>
		<div id="Samuel_Ribansky" class="card interview">
			<img class="card-img-top" src="{fill_parents}images/interviews/samo_rybansky_rgb.jpg" alt="Photo">
			<h4 class="card-title">University of Sheffield</h4>
			<div class="card-body">
				<h5 class="card-subtitle">Samuel Ribansky</h5>
				<div class="card-text">
					<p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
					<p class="card-text card-long-desc no-display">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<h2 class="no-display">Gallery</h2>
				<ul class="card-images no-display">
					<li class="card-photo">
						<img src="{fill_parents}images/interviews/dasa_rgb.jpg" alt="dasa_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/header.jpg" alt="header">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/jakub_rybansky_rgb.jpg" alt="jakub_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Luki_rgb.jpg" alt="Luki_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/orth_rgb.jpg" alt="orth_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/samo_rybansky_rgb.jpg" alt="samo_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Tomi_rgb.jpg" alt="Tomi_rgb">
					</li>
				</ul>
			</div>
		</div>
	</div>