:^) title :::
<div id="interviews-heading" class="admissions">Kindergarten</div>
:^) link :::
{fill_parents_html}en/school/kindergarten/index.html
:^) admissions :::
<div class="heading" id="heading">
    <div class="logo"><img id="logo" src="{fill_parents}images/logo.jpg"></div>
</div>
<h6 class="title">Admissions to the Private Kindergarten GALILEO SCHOOL, Dudvážska 6, 821 07 Bratislava 214</h6>
<ol>
    <li><p>Please send your questions regarding the studying at GALILEO SCHOOL at <a href="mailto:info@galileoschool.sk">info@galileoschool.sk</a> , or please call the landline phone number <a href="tel:+421 2 4598 1928">+421 2 4598 1928</a>. Our Admissions Manager Ms Viera Kmeť Drahovská, who is responsible for admissions of new students, will be happy to answer your questions and to arrange a visit to the school.</p></li>
    <li><p>The School Principal will place the newly admitted child into appropriate yeargroup and class based on the age of the child, the number of years of compulsory education completed, the previous schooling attainment and the English knowledge.</p></li>
</ol>