<!-- Each of these li (list item) elements represents a button in our menu -->
<li onclick="location.href='{fill_parents_html}en/index.html'" class="nav-elem">
    <div class="nav-elem-text">Home</div>
</li>
<li class="nav-elem dropdown">
    <div class="nav-elem-text sub-menu-btn closed">About Us</div>
    <div class="sub-menu block container">
        <ul class="sub-menu list flex column">
            <li>Kindergarten</li>
            <li>Primary School</li>
            <li>High School</li>
        </ul>
    </div>
</li>
<!-- <li onclick="location.href='#'" class="nav-elem">
    <div class="nav-elem-text">News</div>
</li> -->
<li onclick="location.href='https://galileoschool.edupage.org/znamky/'" class="nav-elem">
    <div class="nav-elem-text">Edupage</div>
</li>
<li onclick="location.href='{fill_parents_html}en/interviews/index.html'" class="nav-elem">
    <div class="nav-elem-text">Graduates</div>
</li>
<li onclick="location.href='#'" class="nav-elem">
    <div class="nav-elem-text">Admissions</div>
</li>
<li onclick="location.href='{fill_parents_html}en/contact us/index.html'" class="nav-elem">
    <div class="nav-elem-text">Contact Us</div>
</li>