:^) title :::
<div id="interviews-heading" class="admissions">Primary School</div>
:^) link :::
{fill_parents_html}en/school/primarySchool/index.html
:^) admissions :::
<div class="heading" id="heading">
    <div class="logo"><img id="logo" src="{fill_parents}images/logo.jpg"></div>
</div>
<h6 class="title">First Grade Enrolment is scheduled for 21st of April 2023 (Friday)</h6>
<ol>
    <li><p>Children from the GALILEO SCHOOL prep classes (Butterflies, Bumblebees and Lions) on this day between 9.00 and 11.40 - will act as first-grade students, they will visit first-grade classes and experience a real first-grade lesson of Mathematics, English and Science with our GALILEO SCHOOL teacher (native speaker). First Grade Enrolment for applicants from other kindergartens will take place on the same day at the same time.</p></li>
    <li><p>What do you need to bring? Applicants from other kindergartens will need:</p></li>
		<ul>
            <li>ID card of the legal representative</li>
            <li>child's birth certificate</li>
            <li>results of School Maturity Tests</li>
        </ul>
    <li><p>Applicants from other kindergartens need to be accompanied by their legal representatives. Children who can speak English at a communicative level and turn 6 by the end of August 2023 can be enrolled in the first grade. (The school reserves the right to test the child.)</p></li>
    <li><p>In case of interest in enrolling a child from another kindergarten in the first grade of SZŠ GALILEO SCHOOL for the 2023/2024 school year, contact us by email at <a href="mailto:info@galileoschool.sk">info@galileoschool.sk</a> and we will inform you about the next procedure.</p></li>
</ol>
<h6 class="title">Transfers to the Private Primary School GALILEO SCHOOL, Dudvážska 6, 821 07 Bratislava 214</h6>
<ol>
    <li><p>Please send your questions regarding the studying at GALILEO SCHOOL at <a href="mailto:info@galileoschool.sk">info@galileoschool.sk</a> , or please call the landline phone number <a href="tel:+421 2 4598 1928">+421 2 4598 1928</a>. Our Admissions Manager Ms Viera Kmeť Drahovská, who is responsible for admissions of new students, will be happy to answer your questions and to arrange a visit to the school.</p></li>
    <li><p>The School Principal will place the newly admitted child into appropriate yeargroup and class based on the age of the child, the number of years of compulsory education completed, the previous schooling attainment and the English knowledge.</p></li>
</ol>