.fill-area{
    width: 100%;
    height: 100%;
}

.wine-red{
    background-color: #a60000;
    color: white;
}

.square-corners{
    border-radius: 0;
}

.card-footer{
    padding: 0;
}

.card {
    border-radius: 0;
    border: none;
    background-color: #a60000;
    color: white;
    margin-left: 3px !important;
    margin-right: 0 !important;
    margin-bottom: 3px !important;
}

.card-body{
    font-style: italic;
    color: white;
    font-size: 1.5vw;
}

hr {
    margin: 0;
    background-color: white;
    color: white;
    border: 1px solid white;
}

.card-title{
    width: 100%;
    text-transform: uppercase;
    font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif;
    font-size: 2vw;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.card-deck{
    margin-top: 3px !important;
    width: 100% !important;
    margin: auto;
}

.card:first-child{
    margin-left: 0 !important;
}

/* Mobile viewport */
@media screen and (max-width: 669px){
    .card {
        margin-left: 0 !important;
    }

    .card-deck {
        display: flex;
        flex-direction: column;
    }

    .card-title {
        font-size: 6vw;
    }
    
    .card-body {
        font-size: 4vw;
    }
}