@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400i&display=swap');

.carousel-item {
    padding: 0;
}

/* Minimum height for carousel */
.carousel-item > img {
    overflow: hidden;
    min-height: 300px;
    min-width: 1000px;
    width: 100%;
}

/* Extra bit under the image for text */
.carousel-caption {
    background-color: #a60000;
    text-align: center;
    position: relative;
    bottom: 0;
    left: auto;
    right: auto;
    margin: 0;
    padding: 1vw;
    height: 16vw;
}

/* Slide title text */
.slide-title {
    color: #ffffff;
    font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif;  /* TODO Font needs to be worked out */
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center;
    margin: 1vw;
}

/* Slide description text */
.slide-text {
    color: #ffffff;
    font-family: 'IM Fell Great Primer', serif; /* TODO Font needs to be worked out */
    font-size: 1.5vw;
    text-align: center;
    margin: 1vw;
}

/* Horizontal line */
.carousel-caption > hr {
    height: 1px;
    border: 0;
    /* margin: 0; */
    background-color: #ffffff;
}

/* Left arrow */
.carousel-control-prev-icon {
    width: 2.5vw;
    height: 2.5vw;
}

/* Right arrow */
.carousel-control-next-icon {
    width: 2.5vw;
    height: 2.5vw;
}

/* Bar indicators on the bottom */
.carousel-indicators {
    bottom: 1vw;
}

.carousel-indicators > li {
    width: 3vw;
    height: 0.4vw;
}

/* Tablet size */
/* @media screen and (min-width: 670px) { */

/* Bigger screen */
/* @media only screen and (min-width: 1100px) { */
