/* In general, we are using vw (view-width) units = browser's content window width */


/* vw units will scale with the content window -> responsive website */

html {
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


/* Prevent user selecting / highlighting on navbar  */

nav {
    user-select: none;
}


/* Mobile viewport first, serves as a foundation that can be expanded using queries */

.phone-menu>ul {
    display: none;
    margin: auto;
    width: 100vw;
    list-style-type: none;
    text-align: center;
    position: fixed;
    background-color: #a60000;
    z-index: 2;
    padding: 8vw 0px !important;
    top: auto !important;
}

.phone-menu li {
    padding: 2vw;
    text-decoration: none;
    color: white;
    font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif;
    font-size: 4.5vw;
    z-index: 2;
}

.phone-menu .title {
    padding: 4vw;
}

.phone-menu li:last-child {
    margin-bottom: 0;
}

.phone-menu li:not(.dropdown):hover,
ul.sub-menu > li:hover,
.phone-menu li div.closed:active,
.phone-menu li div.opened {
    background-color: #c40000;
    color: #ffffff;
    cursor: pointer;
}


/* Nav-Phone */

div.nav-phone.lang {
    width: 10vw;
}

div.nav-phone.lang>div {
    margin: auto;
}

.close {
    width: 0 !important;
    transition: 1.5s linear;
}

.close input {
    padding: 0 !important;
    transition: 1.5s linear;
}

#search_box,
#search_box:focus {
    text-transform: capitalize;
}

.nav-phone .logo>img {
    width: 8vw;
    height: 8vw;
    margin: auto;
    padding: 1vw;
    box-sizing: content-box;
    transition: .4s ease;
}

.nav-phone .logo {
    width: auto;
}

.nav-phone .title {
    width: auto;
    margin: auto;
    margin-left: 0;
    font-size: 6vw;
    text-transform: uppercase;
    transition: .4s ease;
}

.nav-phone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-phone>.left {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* Z-index controls what appears above what. Lowest value is in the back. */
    z-index: 1;
    list-style-type: none;
    width: 100%;
}

.nav-phone>.right {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    z-index: 1;
    /* Removed default list bullet points */
    list-style-type: none;
}

.nav-phone > .left > div.nav-container-desktop {
    display: none;
    font-family: 'Century Gothic', 'Futura', 'Didact Gothic', sans-serif;
    max-height: 52px;
    height: 100%;
    margin-top: auto;
    padding: 0px clamp(4px, -6px + 1vw, 8px);
    justify-content: center;
    align-items: center;
}

.nav-phone > .left > div.nav-container-desktop > a {
    margin: auto;
    text-transform: uppercase;
    font-weight: 600;
    font-size: clamp(1rem, 1rem + 1vw - 4px, 1.2rem);
    color: darkslategray;
}

.nav-phone > .left > div.nav-container-desktop > a:hover,
.nav-phone > .left > div.nav-container-desktop > a:active {
    text-decoration: none;
    color: #aaaaaa;
}

.nav-phone .language-dropdown {
    display: flex;
    flex-direction: column;
}

.nav-phone .serach-drop .dropdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-phone .language-dropdown-content {
    position: absolute;
    display: none;
    top: 10vw;
    z-index: 1;
    height: 10vw;
}

.nav-phone .language-dropdown-content>li {
    background-color: unset;
}

.nav-phone .lang {
    height: 100%;
}

.nav-phone>img {
    height: 100%;
}


/* Pre-made styling classes */

.light-gray {
    background-color: #e4e4e4;
}

.red-wine {
    background-color: #a60000 !important;
}

.scroll-menu {
    position: sticky !important;
    top: 0 !important;
    z-index: 2 !important;
}

.darker-gray {
    background-color: #a0a0a0;
}

.hidden {
    visibility: hidden;
}

.no-display {
    display: none !important;
}

div.square {
    width: 10vw;
    text-align: center;
}

.blur {
    filter: blur(4px);
    transition: ease 1s;
}


/* Styling elements using ID */

#logo-container {
    width: auto;
    margin: auto;
    height: 100%;
}

#title {
    margin: auto;
    color: #a60000;
    font-weight: bold;
    letter-spacing: -0.26vw;
    transform: scale(1, 1.6);
    cursor: default;
}

#nav-btn {
    background-color: #a60000;
    width: 10vw;
}

#search {
    background-color: #cccccc;
    width: 10vw;
    min-width: 10vw;
}

#search-img {
    width: 7vw;
    height: 7vw;
}

#nav-bar {
    height: 10vw;
    width: 100%;
}

#menu-img,
#search-img {
    height: 5.5vw;
    width: auto;
    margin: auto;
}


/* Logo + title CSS */

.logo-open-nav {
    margin-left: 3vw;
}

.logo-img-open-nav {
    margin-bottom: 0.2vw;
    padding-bottom: 0.5vw;
}

.title-open-nav {
    color: ghostwhite !important;
}

/* The rest */

.content {
    z-index: 0;
    text-align: center;
    transition: ease .75s;
}

.lang-text {
    font-family: 'Century Gothic', 'Futura', 'Didact Gothic', sans-serif;
    font-weight: 500;
    font-size: 5.6vw;
    position: relative;
    margin: auto;
    cursor: default;
}

.nav-elem>div {
    margin: auto;
    text-transform: uppercase;
}

.active-nav-btn {
    background-color: #c40000;
    transition: 0.5s ease;
}

.search-container {
    max-height: 100%;
    height: 100%;
    width: 30vw;
    transition: 250ms linear;
}

.search-container>input {
    max-height: 100%;
    height: 100%;
    border: none;
    background-color: #eeeeee;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.7vw;
}

li.nav-phone.logo.searching img {
    width: 5vw !important;
    height: 5vw !important;
    padding: 0 !important;
    transition: all .55s linear;
}

li.nav-phone.title.searching {
    font-size: 3.7vw;
    transition: .55s linear !important;
}

div.sub-menu-btn.closed::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: large;
    color: #ffffff;
    /* IF YOU WONDER WHAT THIS DOES, PLEASE CLICK THE FOLLOWING LINK https://letmegooglethat.com/?q=css+content */
    content: "\f0d7";
    margin-left: 8px;
}

div.sub-menu-btn.opened::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: large;
    color: #ffffff;
    content: "\f0d8";
    margin-left: 8px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.sub-menu.block.container {
    padding: 8px;
    background-color: #990000;
    display: none;
}

ul.sub-menu.list {
    list-style: none;
    padding: 0;
}

/* Searcher styles */

div.search-result {
    outline: none;
    border: none;
    display: none;
    position: absolute;
    margin: 0;
    max-height: 500px;
    max-width: 300px;
    overflow-y: auto;
    background-color: #fcfcfc;
    box-shadow: 0px 0px 5px 0px #050505;
    transition: 350ms;
    top: 70px;
    left: 0px;
    z-index: 4;
}


/* Search result box on the search website */

div.search-result-fullview {
    outline: none;
    border: none;
    margin: 0;
    background-color: #fcfcfc;
    box-shadow: 0px 0px 5px 0px #050505;
    transition: 350ms;
}

ul.searcher-result-list,
ol.searcher-result-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

li.searcher-result-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 200px;
}

a.searcher-result-link {
    border-left: 7px solid grey;
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #255255;
    transition: 150ms;
}

a.searcher-result-link:hover {
    background-color: #e0e0e0;
    color: #010101;
    border-left-color: #a60000;
}

a.searcher-result-link:visited {
    text-decoration: unset;
    color: unset;
}

span.searcher-result-preview {
    text-align: start;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    color: #696969;
    font-size: small;
    background-color: #f5f5f5f8;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 2px;
    margin-bottom: 3px;
}

span.searcher-result-preview:last-child {
    margin-bottom: 0px;
}

/* End of Searcher styles */


/* Styles management based on screen width */


/* Tablet style */


/* Why 670? Trial and error - testing values from 540 to 800 (Common phone and tablet widths) */


/* Warning: Any changes made to this "conditional" such as changing the min-width will have to be repeated in nav_jquery.js file in the function check_resize() */

@media screen and (min-width: 670px) {
    div.language-select-btn:hover,
    div.nav-phone.light-gray.lang.lang-text {
        cursor: pointer;
    }
    div.language-select-btn:hover,
    div.nav-phone.light-gray.lang.lang-text {
        cursor: pointer;
    }
    #langBtn:hover,
    .lang-text:hover {
        cursor: pointer;
        background-color: #eeeeee;
        transition: .1s linear;
    }
    #langBtn:active,
    .lang-text:active {
        background-color: #bbbbbb;
        transition: .1s linear;
    }
    #search {
        width: calc(520px*0.1);
        min-width: calc(520px*0.1);
        height: 52px;
        margin: auto;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .nav-phone > .left > div.nav-container-desktop {
        display: flex;
    }

    div#title {
        font-size: clamp(2.5rem, 2rem + 1vw, 3rem);
    }

    #log-container {
        height: 100%;
    }

    .search-container {
        max-height: 52px;
        margin-top: auto;
        max-width: 180px;
        width: 180px;
    }
    .search-container>input {
        max-height: 52px;
        height: 52px;
        width: 100%;
        font-size: 20px;
    }
    li.nav-phone.logo.searching img {
        width: 51px !important;
        height: auto !important;
        transition: all 1s linear;
    }

    /* In future when search will be available decrease the font-size of title
        in order to fit into nav bar */

    /* li.nav-phone.title.searching {
        font-size: calc(670px*0.047);
        transition: 1s linear;
    } */

    .search-container > input:focus {
        border: none !important;
        outline: none !important;
        -webkit-box-shadow: inset 0px 0px 20px -8px rgba(139, 139, 139, 0.8);
        -moz-box-shadow: inset 0px 0px 20px -8px rgba(139, 139, 139, 0.8);
        box-shadow: inset 0px 0px 20px -8px rgba(139, 139, 139, 0.8);
    }
    .nav-desk {
        position: sticky;
        top: 0;
        z-index: 3;
    }
    #menu-overlay {
        display: block;
        position: fixed;
        background-color: rgba(160, 160, 160, 0.377);
        z-index: 2;
        height: 100%;
        width: 100%;
    }
    #nav-bar {
        max-height: calc(670px*0.1);
        max-width: 100vw;
    }
    div.right {
        height: 52px !important;
        margin-top: auto;
    }
    div.square {
        width: calc(520px*0.1) !important;
        height: 52px;
    }
    div.nav-phone.lang {
        width: calc(520px*0.1);
        height: 52px;
    }
    .lang-text {
        font-size: calc(520px*0.056);
    }
    #menu-img,
    #search-img {
        height: calc(520px*0.055);
        width: auto;
    }
    .nav-phone .logo>img {
        height: 61px;
        width: auto;
        padding: calc(670px*0.01);
        padding-bottom: 2px;
        padding-top: 2px;
        transition: all 1s linear;
    }
    .nav-phone .title {
        font-size: calc(670px*0.063);
        margin-left: 0;
        transition: 1s linear;
    }
    .nav-phone .language-dropdown-content {
        top: calc(520px*0.1);
        height: calc(520px*0.1);
    }
    .nav-phone .search-input {
        height: calc(520px*0.0755);
        font-size: calc(520px*0.035);
        padding: calc(520px*0.01);
        padding-top: 0;
        padding-bottom: 0;
        border: 0.5px solid #dddddd;
        height: 52px;
    }
    input.search-input {
        width: calc(520px*0.4);
        max-height: calc(520px*0.1);
    }
    .nav-phone .logo {
        margin: auto;
        margin-right: 0;
    }
    .nav-desk li {
        padding: calc(520px*0.018);
        font-size: calc(420px*0.045);
    }
    #language:hover {
        background-color: #e7e7e7;
        cursor: pointer;
    }
    #main-nav {
        display: flex;
        display: -ms-flexbox;
        position: sticky;
        top: 0;
        flex-direction: row;
        -ms-flex-direction: row;
        -ms-flex-align: center;
        justify-content: center;
        width: 100%;
        align-items: center;
        align-content: center;
        margin: auto;
        padding: 0;
        z-index: 0;
        font-size: 2vw;
        transition: width 2s ease-in;
        background-color: #a60000;
        color: #ffffff;
        font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif;
    }
    #main-nav>li {
        padding-right: calc(520px*0.025);
        padding-left: calc(520px*0.025);
        height: 52px;
    }
    #main-nav>li:hover,
    #sub-nav>li:hover {
        cursor: pointer;
    }
    #main-nav,
    #sub-nav {
        user-select: none;
    }
    .nav-desk>ul:nth-child(2) {
        display: none;
        position: absolute;
        right: 0;
        width: 250px;
        height: auto;
        margin: auto;
        padding: 30px 0;
        padding-top: 4px;
        top: 48px;
        font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif;
        text-transform: uppercase;
        background-color: #a60000;
        color: #ffffff;
    }

    .nav-desk li:hover,
    .nav-desk li.nav-elem.dropdown div.sub-menu ul li.active,
    .nav-desk li.nav-elem.dropdown.opened {
        box-shadow: 0px 0px 33px -14px rgba(0, 0, 0, 0.2);
        background-color: #c60000;
        transition: linear 0.2s;
    }

    .nav-desk li:not(.dropdown):hover {
        transform: scale(1.05);
    }

    .nav-desk li.nav-elem.dropdown div.sub-menu {
        position: absolute;
        top: 52px;
        z-index: 5;
        width: auto;
        padding: 16px 0px;
    }

    .nav-desk li.nav-elem.dropdown div.sub-menu ul,
    .nav-desk li.nav-elem.dropdown div.sub-menu ul li {
        position: relative;
        width: auto;
        overflow-wrap: unset;
        text-align: center;
    }

    .nav-desk li.nav-elem.dropdown div.sub-menu ul {
        width: max-content;
    }

    .nav-desk li.nav-elem.dropdown div.sub-menu ul li {
        padding: 0.75rem 1.5em;
    }

    .nav-elem {
        display: flex;
        justify-content: center;
    }
    li:last-child {
        border-right: none;
    }
    #nav-btn:hover {
        cursor: pointer;
        background-color: #c40000;
        transition: ease 0.7s;
    }
    #search:hover {
        background-color: #e9e9e9;
        cursor: pointer;
        transition: ease 0.7s;
    }
}

@media screen and (max-width: 299px) {
    .nav-phone .title {
        font-size: 5vw !important;
    }
}

@media only screen and (min-width: 780px) {
    li.nav-phone.logo.searching img {
        width: 61px !important;
        height: auto !important;
        transition: all 1s linear;
    }
}


/* Bigger screens */

@media only screen and (min-width: 1100px) {
    #main-nav>li {
        padding-right: calc(520px*0.05);
        padding-left: calc(520px*0.05);
    }

    #title {
        letter-spacing: -0.15vw;
    }

    li.nav-phone.logo.searching img {
        width: 61px !important;
        height: auto !important;
        transition: all 1s linear;
    }

    li.nav-phone.title.searching {
        font-size: calc(670px*0.063);
        transition: 1s linear;
    }
    
    .nav-desk > ul:nth-child(2)  {
        width: 300px;
    }
}