<!-- Card deck -->
<div class="card-deck about">
    <!-- <div class="card about">
        <div class="card-img">
            <img src="{fill_parents}images/card_thumbnails/gym.jpg" class="card-img-top" alt="Picture Not Available!">
        </div>
        <div class="card-content">
            <div>
                <div class="card-title">
                    <h3>Path to great universities</h3>
                </div>
                <div class="card-text short">
                    <p>The graduates of GALILEO SCHOOL study at the top universities, from Oxford and Cambridge, through Santa Clara in Silicon Valley, Kings College in London to Edinburgh and Glasgow in Scotland. Our students became successful in a variety of professional carrier, from a founder of a multimillion company in London, a GLOBSEC Young Leader 2019, a member of the Permanent Mission of Slovakia to the United Nations, to a researcher of sustainable energy in Africa or an IT safety researcher at the Oxford University.</p>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text long">
                    <p>Small class sizes, student-centred approach, and a focus on individual interest of a student. Students build a portfolio of knowledge, skills and international certificates tailored to their preferred future career. The teaching and learning use embedded streaming, lesson materials, communication and assignments online using Microsoft Teams and Office 365.</p>
                </div>
            </div>
            <div class="card-footer">
                <button class="toggle-btn">...see more</button>
            </div>
        </div>
    </div> -->
</div>