<div class="phone heading">
    <h1>{{contact.phone_heading}}</h1>
</div>
<div class="heading" id="heading">
    <div class="logo"><img id="logo" src="{fill_parents}images/logo.jpg"></div>
    <h1 class="text">{{contact.heading}}</h1>
</div>

<div class="contact-info container">
    <ul class="list">
        <li><i class="far fa-envelope"></i><h6 class="phone title">Email:</h6><a id="school-email" href="mailto:info@galileoschool.sk">info@galileoschool.sk</a></li>
        <li>
            <i class="fas fa-phone-alt"></i> 
            <h6 class="phone title">Telephone:</h6>
            
            <ul>
                <li><a href="tel:02/4598 1928">02/4598 1928</a></li>
                <li><a href="tel:02/4598 1929">02/4598 1929</a></li>
            </ul>
        </li>
        <li><i class="fas fa-map-marker-alt"></i><h6 class="phone title">Address:</h6><a href="http://maps.google.com/?q=Dudvážska 6, 821 07 Bratislava 214">Dudvážska 6, 821 07 Bratislava 214</a></li>
    </ul>
</div>
<div class="contact-form container no-display">
    <div class="left flex column center">
        <img src="{fill_parents}images/envelope.svg" alt="" draggable="false">
    </div>
    <div class="right flex column center">
        <h2>{{contact.form_heading}}</h2>
        <div>
            <form id="Contact-Form" class="flex column" action="javascript:sendMail();" autocomplete="off">
                <div class="form-input-cont">
                    <input class="form input" type="text" name="Name" id="Name" placeholder="Your Full Name" autocomplete="off">
                </div>
                <span class="error msg" input="Name">Too short! Minimum lenght is 4 characters</span>
                <div class="form-input-cont">
                    <input class="form input" type="email" name="Email" id="Email" placeholder="Email" autocomplete="off">
                </div>
                <span class="error msg" input="Email">Please enter a valid email</span>
                <div class="form-input-cont">
                    <input class="form input" type="text" name="Subject" id="Subject" placeholder="Subject" autocomplete="off">
                </div>
                <span class="error msg" input="Subject">Please enter a valid subject</span>
            </form>
            <textarea class="form input" name="Message" id="Message" cols="10" rows="5" placeholder="Message" form="Contact-Form"></textarea>
            <input type="submit" value="{{contact.form_submit}}" form="Contact-Form" id="submitBtn">
        </div>
    </div>
</div>
<div class="map container">
    <iframe
        width="100%"
        height="100%"
        style="border:0"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDuDYzua5Ywn03AharIGWNXJRVsY2yco7s
            &q=Dudvážska 6, 821 07 Bratislava 214">
    </iframe>
</div>