<!-- Cards -->
<div class="card-deck">
    <div class="card">
        <img src="../../images/card_thumbnails/gym.jpg" class="card-img-top" alt="Picture Not Available!">
        {{card_contents.1-title}}
        <hr>
        <div class="card-body">
            {{card_contents.1-body-text}}
        </div>
        <div class="card-footer hidden">
            {{card_contents.1-footer}}
        </div>
    </div>
    <div class="card">
        <img src="../../images/card_thumbnails/primary_school.jpg" class="card-img-top" alt="Picture Not Available!">
        {{card_contents.3-title}}
        <hr>
        <div class="card-body">
            {{card_contents.3-body-text}}
        </div>
        <div class="card-footer hidden">
            {{card_contents.3-footer}}
        </div>
    </div>
    <div class="card">
        <img src="../../images/card_thumbnails/kindergarten.jpg" class="card-img-top" alt="Picture Not Available!">
        {{card_contents.2-title}}
        <hr>
        <div class="card-body">
            {{card_contents.2-body-text}}
        </div>
        <div class="card-footer hidden">
            {{card_contents.2-footer}}
        </div>
    </div>
</div>