<p>Samuel graduated from Galileo School in 2014, holds a First Class (Hons) degree in Politics and Philosophy from the University of Sheffield and is currently in the final year of a Master of Public Policy Degree from Institut d’Etudes Politiques in Paris and the Hertie School of Governance in Berlin. 
 
However, his achievements are not confined to the corridors of centurial educational institutions, but span the Brussels offices of FleishmanHillard, a prominent public affairs firm, U.S. Steel Kosice, Slovakia’s biggest employer, and the Paris offices of the Organisation for Economic Cooperation and Development (OECD). And when not working, Samuel pops down to Galileo School to share his experience with Galileo’s brightest prospects. 
 
Oh, and he likes to hang around world leaders (see photo attached).
 
 
Samuel zmaturoval na Galileo School v Máji 2014, ukončil bakalárske štúdium na Univerzite v Sheffielde v odbore Politika a Filozofia a momentálne je v poslednom ročníku magisterského štúdia Verejých Politík na Inštitúte Politických Štúdií (Sciences Po) v Paríží a Hertie School of Governance v Berlíne. 
 
Jeho úspechy však niesú obmedzené len na chodby historických inštitúcií. Právek naopak – rozliehajú sa priestormi najväčšej lobbz firmy v Bruseli, FleishmanHillard, kanceláriami U.S Steel Košice, či Parížskou základňou Organizácie pre Ekonomickú Spoluprácu a Rozvoj (OECD). Vo voľnom čase sa Samuel sem-tam vracia do Galilea, aby sa so svojimi skúsenosťami podelil s nádejami Galileo School.
 
Ah, a rád trávi čas so svetovými lídrami.</p>
