:^) Cards :::
<!-- Card 1 -->
<div id="1" class="card admiss" onclick="Click(this)">
    <h4 class="card-title">{{summer.primarySchool-title}}</h4>
    <img src="{fill_parents}images/card_thumbnails/primary_school.jpg" class="card-img-top" alt="Picture Not Available!">
    <div class="no-display admiss-text">
        <object data="{fill_parents}files/summerschool/{{summer.primarySchool-file}}" width="100%" height="100%" frameborder="0">
            <script type="text/javascript">var iFramesSupported = false;</script>
            <div class="alt-text">
                <p>Previewing or manipulating a pdf file is not supported on your device's browser. We suggest you download the file and open it manually with a pdf reader.</p>
                <a download href="{fill_parents}files/summerschool/{{summer.primarySchool-file}}">Download</a>
            </div>
        </object>
    </div>
</div>

<!-- Card 2 -->
<div id="2" class="card admiss" onclick="Click(this)">
    <h4 class="card-title">{{summer.kindergarten-title}}</h4>
    <img src="{fill_parents}images/card_thumbnails/kindergarten.jpg" class="card-img-top" alt="Picture Not Available!">
    <div class="no-display admiss-text">
        <object src="{fill_parents}files/summerschool/{{summer.kindergarten-file}}" type="application/pdf" width="100%" height="100%" frameborder="0">
            <script type="text/javascript">var iFramesSupported = false;</script>
            <div class="alt-text">
                <p>Previewing or manipulating a pdf file is not supported on your device's browser. We suggest you download the file and open it manually with a pdf reader.</p>
                <a download href="{fill_parents}files/summerschool/{{summer.kindergarten-file}}">Download</a>
            </div>
        </object>
    </div>
</div>