:^) 1-title :::
Gymnázium
:^) 1-body-text :::
Súkromné bilingválne gymnázium GALILEO SCHOOL, päťročné bilingválne štúdium v anglickom jazyku
:^) 1-footer :::
More Info
:^) 1-link :::
{{high_school.link}}
:^) 2-title :::
Základná Škola
:^) 2-body-text :::
Súkromná základná škola GALILEO SCHOOL s vyučovacím jazykom anglickým
:^) 2-footer :::
More Info
:^) 2-link :::
{{primary_school.link}}
:^) 3-title :::
Materská Škola
:^) 3-body-text :::
Súkromná materská škola GALILEO SCHOOL, bilingválna predškolská príprava v slovenskom a anglickom jazyku
:^) 3-footer :::
More Info
:^) 3-link :::
{{kindergarten.link}}