:^) title :::
<div id="interviews-heading" class="admissions">Gymnázium</div>
:^) link :::
{fill_parents_html}sk/school/highSchool/index.html
:^) admissions :::
<div class="heading" id="heading">
    <div class="logo"><img id="logo" src="{fill_parents}images/logo.jpg"></div>
</div>
<h6 class="title">Prijímacie konanie na bilingválne štúdium do Súkromného gymnázia GALILEO SCHOOL, Dudvážska 6, 821 07 Bratislava 214 pre školský rok 2021/2022</h6>
<h5 class="box">Termín na doručenie prihlášky na vzdelávanie v GALILEO SCHOOL riaditeľovi základnej školy je do 8. apríla 2021</h6>
<ol>
    <li><p>Prijímacie skúšky - talentové skúšky sa budú konať v zmysle platnej školskej legislatívy (Zákona č. 245/2008 Z. z.) na základe overenia špeciálnych schopností, zručností a nadania.</p></li>
    <li><p>Riaditeľ školy po prerokovaní v pedagogickej rade školy a so zriaďovateľom plánuje v školskom roku 2021/2022 otvoriť 2 triedy v 1. ročníku študijného odboru 7902 J 74 - bilingválne štúdium. V zmysle zákona č. 61/2015 Z.z. Samosprávny kraj určil najvyšší počet žiakov prvého ročníka 44.</p></li>
    <li><p>Termín a miesto talentových skúšok: Streda 5. mája 2021, dištančne - online.</p></li>
    <li><p>Obsah overenia špeciálnych schopností, zručností a nadania:</p>
        <p class="no-margin">Test na overenie všeobecných jazykových a študijných predpokladov v anglickom jazyku. Test na báze Cognitive Abilities Test hodnotí nasledovné oblasti uvažovania:</p>
        <ul>
            <li>verbálne</li>
            <li>kvantitatívne</li>
            <li>neverbálne a priestorové</li>
        </ul>
    </li>
    <li><p>Podmienka prijatia: Uchádzač môže byť prijatý na štúdium v prípade, že dosiahne spolu minimálne 75 bodov SAS z verbálnej zložky CAT testu z anglického jazyka a ktorý nebol klasifikovaný zníženou známkou zo správania počas štúdia na základnej škole. </p></li>
    <li><p>Riaditeľ školy zverejní zoznam s kódovým označením všetkých prijatých a neprijatých uchádzačov do 20. mája 2021. Neúčasť na prijímacích skúškach (ochorenie – doklad od lekára nesmie byť starší ako 3 dni) treba oznámiť telefonicky a písomné potvrdenie od lekára treba doručiť najneskôr do 6. mája 2021 do 8.30 h. na riaditeľstvo školy.</p></li>
    <p class="box">Počet prijatých uchádzačov bude znížený o počet ospravedlnených neprítomných uchádzačov. Po vykonaní skúšok v náhradnom termíne bude uchádzač zaradený do poradia podľa získaných bodov.</p>
    <li><p>Kritériá prijímacieho konania sú prílohou tohto dokumentu.</p></li>
</ol>
<h6 class="sub-title">Kritériá prijímacieho konania - Súkromné gymnázium GALILEO SCHOOL pre rok 2021/2022</h6>
<ol>
    <li>
        <h6>ZOHĽADNENIE ŠTUDIJNÝCH VÝSLEDKOV</h6>
        <p>Za prospech na základnej škole budú pridelené preferenčné body podľa známok z koncoročnej klasifikácie z 8. ročníka a z polročnej klasifikácie z 9. ročníka (resp. v prípade žiakov, ktorí sú v 8. ročníku, z koncoročnej klasifikácie zo 7. ročníka a z polročnej klasifikácie z 8. ročníka) okrem známky 5 – nedostatočný nasledovne:</p>
        <div class="box">
            <p class="no-margin">Dva povinné predmety:</p>
            <ul>
                <li>Slovenský jazyk a literatúra</li>
                <li>Matematika</li>
            </ul>
            <p>Do celkového súčtu budú pridelené body za každú známku samostatne podľa nasledujúceho vzťahu: </p>
            <p>Počet bodov = 5.(4−x).(4−x) , kde x je známka</p>
        </div>
        <div class="box">
            <p>Profilový predmet – Anglický jazyk:</p>
            <p>Do celkového súčtu budú pridelené body za každú známku samostatne podľa nasledujúceho vzťahu: </p>
            <p>Počet bodov = 3.(4−x).(4−x), kde x je známka</p>
        </div>
    </li>
    <li>
        <h6>PROSPECH</h6>
        <p>Ak žiak dosiahol v 8., 7. a 6. ročníku (resp. v 7., 6. a 5. ročníku pre žiaka navštevujúceho 8. ročník) stupeň 1 – výborný zo všetkých predmetov, do celkového hodnotenia sa započíta 5 bodov za každý školský rok. </p>
    </li>
    <li>
        <h6>ĎALŠIE KRITÉRIÁ</h6>
        <p>Do celkového súčtu budú pridelené body za každé kritérium samostatne z intervalu ⟨0;100⟩ bodov.</p>
        <h6>Predmetová olympiáda</h6>
        <p>Predmetová olympiáda sa započítava do celkového hodnotenia, ak sa žiak umiestnil na 1. mieste až 5. mieste v okresnom alebo krajskom kole v 8. ročníku alebo 9. ročníku v olympiáde zo SJL, cudzieho jazyka (ANJ, NEJ, RUJ, SJA, FRJ), DEJ, MAT, FYZ, CHE, BIO, GEG alebo technickej olympiáde a Pytagoriáde.</p>
        <h6>Jedno vlastné kritérium strednej školy</h6>
        <p>Percentuálna úspešnosť v teste Cognitive Abilities Tests, maximálne 100 bodov.</p>
        <p>Percentuálna úspešnosť v online testoch Cognitive Abilities Tests sa započíta ako počet bodov.</p>
    </li>
    <li>
        <h6>V prípade rovnosti bodov, budú postupne uplatnené nasledovné kritériá:</h6>
        <ol class="abc">
            <li>Podľa § 67 ods. 3 zákona č. 245/2008 Z. z. o výchove a vzdelávaní (školský zákon) a o zmene a doplnení niektorých zákonov v znení neskorších predpisov bude prednostne prijatý uchádzač, ktorý má podľa rozhodnutia posudkovej komisie sociálneho zabezpečenia zmenenú pracovnú schopnosť,</li>
            <li>Získal väčší počet bodov za bod č. 3 Ďalšie kritéria, </li>
            <li>Dosiahol väčší počet z určeného profilového predmetu školy.</li>
        </ol>
    </li>
</ol>
<p class="box">Vstupné údaje: vyplnená prihláška na vzdelávanie na strednú školu, prípadne vysvedčenie žiaka, diplomy alebo výsledkové listiny preukazujúce poradie žiaka, prípadne jeho výkon.</p> 
<h6 class="bold">Platnosť dokumentu od 4. februára 2021.</h6>
<h6>Pre doplňujúce informácie nás kontaktujte emailom na <a href="mailto:info@galileoschool.sk">info@galileoschool.sk</a></h6>