
	<div class="card-deck interview">
		<div id="Tomas_Halgas" class="card interview">
			<img class="card-img-top" src="{fill_parents}images/interviews/Tomi_rgb.jpg" alt="Photo">
			<h4 class="card-title">University of Oxford</h4>
			<div class="card-body">
				<h5 class="card-subtitle">Tomas Halgas</h5>
				<div class="card-text">
					<p class="card-text">Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science</p>
					<p class="card-text card-long-desc no-display">Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science. Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science. Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science.</p>
				</div>
				<h2 class="no-display">Gallery</h2>
				<ul class="card-images no-display">
					<li class="card-photo">
						<img src="{fill_parents}images/interviews/dasa_rgb.jpg" alt="dasa_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/header.jpg" alt="header">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/jakub_rybansky_rgb.jpg" alt="jakub_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Luki_rgb.jpg" alt="Luki_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/orth_rgb.jpg" alt="orth_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/samo_rybansky_rgb.jpg" alt="samo_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Tomi_rgb.jpg" alt="Tomi_rgb">
					</li>
				</ul>
			</div>
		</div>
		<div id="Dasa" class="card interview">
			<img class="card-img-top" src="{fill_parents}images/interviews/dasa_rgb.jpg" alt="Photo">
			<h4 class="card-title">University of Oxford</h4>
			<div class="card-body">
				<h5 class="card-subtitle">Dasa</h5>
				<div class="card-text">
					<p class="card-text">Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science</p>
					<p class="card-text card-long-desc no-display">Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science. Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science. Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science.</p>
				</div>
				<h2 class="no-display">Gallery</h2>
				<ul class="card-images no-display">
					<li class="card-photo">
						<img src="{fill_parents}images/interviews/dasa_rgb.jpg" alt="dasa_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/header.jpg" alt="header">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/jakub_rybansky_rgb.jpg" alt="jakub_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Luki_rgb.jpg" alt="Luki_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/orth_rgb.jpg" alt="orth_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/samo_rybansky_rgb.jpg" alt="samo_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Tomi_rgb.jpg" alt="Tomi_rgb">
					</li>
				</ul>
			</div>
		</div>
		<div id="Jakub_Rybansky" class="card interview">
			<img class="card-img-top" src="{fill_parents}images/interviews/jakub_rybansky_rgb.jpg" alt="Photo">
			<h4 class="card-title">University of Oxford</h4>
			<div class="card-body">
				<h5 class="card-subtitle">Jakub Rybansky</h5>
				<div class="card-text">
					<p class="card-text">Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science</p>
					<p class="card-text card-long-desc no-display">Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science. Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science. Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science.</p>
				</div>
				<h2 class="no-display">Gallery</h2>
				<ul class="card-images no-display">
					<li class="card-photo">
						<img src="{fill_parents}images/interviews/dasa_rgb.jpg" alt="dasa_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/header.jpg" alt="header">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/jakub_rybansky_rgb.jpg" alt="jakub_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Luki_rgb.jpg" alt="Luki_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/orth_rgb.jpg" alt="orth_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/samo_rybansky_rgb.jpg" alt="samo_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Tomi_rgb.jpg" alt="Tomi_rgb">
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="card-deck interview">
		<div id="Lukas_Halgas" class="card interview">
			<img class="card-img-top" src="{fill_parents}images/interviews/Luki_rgb.jpg" alt="Photo">
			<h4 class="card-title">University of Oxford</h4>
			<div class="card-body">
				<h5 class="card-subtitle">Lukas Halgas</h5>
				<div class="card-text">
					<p class="card-text">Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science</p>
					<p class="card-text card-long-desc no-display">Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science. Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science. Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science.</p>
				</div>
				<h2 class="no-display">Gallery</h2>
				<ul class="card-images no-display">
					<li class="card-photo">
						<img src="{fill_parents}images/interviews/dasa_rgb.jpg" alt="dasa_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/header.jpg" alt="header">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/jakub_rybansky_rgb.jpg" alt="jakub_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Luki_rgb.jpg" alt="Luki_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/orth_rgb.jpg" alt="orth_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/samo_rybansky_rgb.jpg" alt="samo_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Tomi_rgb.jpg" alt="Tomi_rgb">
					</li>
				</ul>
			</div>
		</div>
		<div id="Filip_Orth" class="card interview">
			<img class="card-img-top" src="{fill_parents}images/interviews/orth_rgb.jpg" alt="Photo">
			<h4 class="card-title">Santa Clara University</h4>
			<div class="card-body">
				<h5 class="card-subtitle">Filip Orth</h5>
				<div class="card-text">
					<p class="card-text">Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science</p>
					<p class="card-text card-long-desc no-display">Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science. Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science. Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science.</p>
				</div>
				<h2 class="no-display">Gallery</h2>
				<ul class="card-images no-display">
					<li class="card-photo">
						<img src="{fill_parents}images/interviews/dasa_rgb.jpg" alt="dasa_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/header.jpg" alt="header">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/jakub_rybansky_rgb.jpg" alt="jakub_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Luki_rgb.jpg" alt="Luki_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/orth_rgb.jpg" alt="orth_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/samo_rybansky_rgb.jpg" alt="samo_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Tomi_rgb.jpg" alt="Tomi_rgb">
					</li>
				</ul>
			</div>
		</div>
		<div id="Samuel_Rybansky" class="card interview">
			<img class="card-img-top" src="{fill_parents}images/interviews/samo_rybansky_rgb.jpg" alt="Photo">
			<h4 class="card-title">University of Sheffield</h4>
			<div class="card-body">
				<h5 class="card-subtitle">Samuel Rybansky</h5>
				<div class="card-text">
					<p class="card-text">Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science</p>
					<p class="card-text card-long-desc no-display">Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science. Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science. Studied Computer Science, Completed Masters from Computer Science, Saw his/her future in Computer Science.</p>
				</div>
				<h2 class="no-display">Gallery</h2>
				<ul class="card-images no-display">
					<li class="card-photo">
						<img src="{fill_parents}images/interviews/dasa_rgb.jpg" alt="dasa_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/header.jpg" alt="header">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/jakub_rybansky_rgb.jpg" alt="jakub_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Luki_rgb.jpg" alt="Luki_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/orth_rgb.jpg" alt="orth_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/samo_rybansky_rgb.jpg" alt="samo_rybansky_rgb">
					</li><li class="card-photo">
						<img src="{fill_parents}images/interviews/Tomi_rgb.jpg" alt="Tomi_rgb">
					</li>
				</ul>
			</div>
		</div>
	</div>