<!-- Each of these li (list item) elements represents a button in our menu -->
<li onclick="location.href='{fill_parents_html}sk/index.html'" class="nav-elem">
    <div class="nav-elem-text">Hlavná Stránka</div>
</li>
<li onclick="location.href='#'" class="nav-elem">
    <div class="nav-elem-text">Profil Školy</div>
</li>
<li onclick="location.href='#'" class="nav-elem">
    <div class="nav-elem-text">Novinky</div>
</li>
<li onclick="location.href='https://galileoschool.edupage.org/znamky/'" class="nav-elem">
    <div class="nav-elem-text">Žiacka Knižka</div>
</li>
<li onclick="location.href='#'" class="nav-elem">
    <div class="nav-elem-text">Prijímacie Pohovory</div>
</li>
<li onclick="location.href='{fill_parents_html}sk/contact us/index.html'" class="nav-elem">
    <div class="nav-elem-text">Kontakty</div>
</li>