:^) title :::
<div id="interviews-heading" class="admissions">Základná Škola</div>
:^) link :::
{fill_parents_html}sk/school/primarySchool/index.html
:^) admissions :::
<div class="heading" id="heading">
    <div class="logo"><img id="logo" src="{fill_parents}images/logo.jpg"></div>
</div>
<h6 class="title">Zápis do 1. ročníka</h6>
<ol>
    <li><p>Deti z prípravných tried GALILEO SCHOOL (Butterflies, Bumblebees a Lions) sa zahrajú na prvákov, navštívia prvácke triedy a zažijú pravú prvácku vyučovaciu hodinu matematiky, angličtiny a Science s naším učiteľom (native speaker). Zápis pre záujemcov z iných materských škôl bude prebiehať v rovnakom termíne. Dátum a čas je zverejnený na <a href="https://galileoschool.edupage.org/news/">galileoschool.edupage.org/news</a></p></li>
    <li><p>Čo si priniesť? Záujemcovia z iných materských škôl budú potrebovať:</p></li>
		<ul>
            <li>občiansky preukaz zákonného zástupcu</li>
            <li>rodný list dieťaťa</li>
            <li>výsledky Testov školskej zrelosti.</li>
        </ul>
    <li><p>Zápisu detí z iných materských škôl do 1. ročníka sa zúčastňuje dieťa spolu so zákonným zástupcom. Do prvého ročníka môže byť zapísané dieťa, ktoré v čase nástupu na povinnú školskú dochádzku dovŕši vek 6 rokov a ovláda anglický jazyk na komunikačnej úrovni. (Škola si vyhradzuje právo dieťa pretestovať.)</p></li>
    <li><p>V prípade záujmu o zápis dieťaťa z inej materskej školy do prvého ročníka SZŠ GALILEO SCHOOL na nasledujúci školský rok nás kontaktujte na emailovej adrese <a href="mailto:info@galileoschool.sk">info@galileoschool.sk</a> a my Vás následne budeme informovať ohľadom ďalšieho postupu.</p></li>
</ol>
<h6 class="title">Prestup na Súkromnú Základnú Školu GALILEO SCHOOL, Dudvážska 6, 821 07 Bratislava 214</h6>
<ol>
    <li><p>Vaše otázky ohľadom štúdia na GALILEO SCHOOL prosím zasielať na emailovú adresu <a href="mailto:info@galileoschool.sk">info@galileoschool.sk</a>, prípadne nás kontaktujte telefonicky na čísle  <a href="tel:+421 2 4598 1928">+421 2 4598 1928</a>. Náš prijímací manažér, pani Viera Kmeť Drahovská, ktorá je zodpovedná za prijímanie nových žiakov, vám rada odpovie na vaše otázky ohľadom prijímacieho procesu a dohodne si s vami návštevu školy.</p></li>
    <li><p>Pri prijímaní nových žiakov, riaditeľka školy zaradí žiaka do triedy podľa veku dieťaťa, počtu rokov ukončenej školskej dochádzky v čase prihlásenia, predchádzajúcich školských výsledkov a vedomostí z angličtiny.</p></li>
</ol>