:^) title :::
<div id="interviews-heading" class="admissions">Základná Škola</div>
:^) link :::
{fill_parents_html}sk/school/primarySchool/index.html
:^) admissions :::
<div class="heading" id="heading">
    <div class="logo"><img id="logo" src="{fill_parents}images/logo.jpg"></div>
</div>
<h6 class="title">Prijímacie konanie na Súkromnú Základnú Školu GALILEO SCHOOL, Dudvážska 6, 821 07 Bratislava 214</h6>
<ol>
    <li><p>Vaše otázky ohľadom štúdia na GALILEO SCHOOL prosím zasielať na emailovú adresu <a href="mailto:info@galileoschool.sk">info@galileoschool.sk</a>, prípadne nás kontaktujte telefonicky na čísle  <a href="tel:+421 2 4598 1928">+421 2 4598 1928</a>. Náš prijímací manažér, pani Viera Kmeť Drahovská, ktorá je zodpovedná za prijímanie nových žiakov, vám rada odpovie na vaše otázky ohľadom prijímacieho procesu a dohodne si s vami návštevu školy.</p></li>
    <li><p>Pri prijímaní nových žiakov, riaditeľka školy zaradí žiaka do triedy podľa veku dieťaťa, počtu rokov ukončenej školskej dochádzky v čase prihlásenia, predchádzajúcich školských výsledkov a vedomostí z angličtiny.</p></li>
</ol>